/dist
/tmp
/out-tsc

/node_modules

.sass-cache
connect.lock
/coverage
libpeerconnection.log
npm-debug.log
testem.log
/typings

/e2e/*.js
/e2e/*.map

.DS_Store
Thumbs.db

/spell_json_generation/spells.txt
/spell_json_generation/spells.json
/src/spells.json
