<h2 id="title">D&amp;D 5e Spells <small><a href="#help" class="btn btn-primary">Help</a></small></h2>
<div class="row">
  <div class="col-md-6">
    <spell-list #list></spell-list>
  </div>
  <div class="col-md-6">
    <div class="affix spell-view">
      <spell-view [spell]="list.selected"></spell-view>
    </div>
  </div>
</div>
<hr />
<div id="help">
  <h2>How to Use <small><a href="#title" class="btn btn-primary">Back to Top</a></small></h2>
  <ul>
    <li>Type in the search box to find a specific spell</li>
    <li>Click the top of a column to sort by that column</li>
    <li>Click on a spell to view details about it</li>
  </ul>
</div>
<br />
<br />
<div class="footer">
  <p>© 2017 - All Rights Reserved.</p>
  <p>Wizards of the Coast, Dungeons &amp; Dragons, and their logos are trademarks of Wizards of the Coast LLC in the United States and other countries.
    © 2015 Wizards. All Rights Reserved.</p>
  <p>This site is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC.
    This site may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is permitted under <a href="https://dnd.wizards.com/articles/features/fan-site-kit">Wizards' Fan Site Policy</a>.
    For example, Dungeons &amp; Dragons® is a trademark[s] of Wizards of the Coast.
    For more information about Wizards of the Coast or any of Wizards' trademarks or other intellectual property, please visit <a href="https://www.wizards.com/">their website at (www.wizards.com).</a></p>
  <p>This site uses <a href="https://github.com/twbs/bootstrap">Boostrap</a> with the <a href="https://github.com/FezVrasta/bootstrap-material-design">Bootstrap Material Design</a> theme.</p>
  <p>Built with <a href="https://github.com/angular/angular">Angular 4</a> using <a href="https://github.com/angular/angular-cli">Angular CLI</a>.</p>
</div>
