<div>
  <br />
  <input [(ngModel)]="filters.name" placeholder="Search" class="form-control" />
  <br />
  <div class="form-group">
    <label for="schoolInput">School</label>
    <select [(ngModel)]="filters.school" id="schoolInput" class="form-control">
      <option label=" "></option>
      <option>Abjuration</option>
      <option>Conjuration</option>
      <option>Divination</option>
      <option>Enchantment</option>
      <option>Evocation</option>
      <option>Illusion</option>
      <option>Necromancy</option>
      <option>Transmutation</option>
    </select>
  </div>
  <br />
  <table class="table">
    <tr>
      <th>Bard</th>
      <th>Cleric</th>
      <th>Druid</th>
      <th>Paladin</th>
      <th>Ranger</th>
      <th>Sorcerer</th>
      <th>Warlock</th>
      <th>Wizard</th>
    </tr>
    <tr>
      <td><input [(ngModel)]="bard" type="checkbox" /></td>
      <td><input [(ngModel)]="cleric" type="checkbox" /></td>
      <td><input [(ngModel)]="druid" type="checkbox" /></td>
      <td><input [(ngModel)]="paladin" type="checkbox" /></td>
      <td><input [(ngModel)]="ranger" type="checkbox" /></td>
      <td><input [(ngModel)]="sorcerer" type="checkbox" /></td>
      <td><input [(ngModel)]="warlock" type="checkbox" /></td>
      <td><input [(ngModel)]="wizard" type="checkbox" /></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <th>V</th>
      <th>S</th>
      <th>M</th>
      <th>GP</th>
    </tr>
    <tr>
      <td><input [(ngModel)]="verbal" type="checkbox" /></td>
      <td><input [(ngModel)]="somatic" type="checkbox" /></td>
      <td><input [(ngModel)]="material" type="checkbox" /></td>
      <td><input [(ngModel)]="gold" type="checkbox" /></td>
    </tr>
  </table>
  <button (click)="resetFilters()" class="btn btn-info">Reset Filters</button>
</div>
<br />
<div>
  <table class="table table-hover">
    <tr>
      <th (click)="pushComparator('name')">Name</th>
      <th (click)="pushComparator('level')">Level</th>
      <th (click)="pushComparator('school')">School</th>
      <th>Classes</th>
      <th>Components</th>
    </tr>
    <tr *ngFor="let spell of getSpellsForDisplay()" (click)="selected = spell">
      <td>{{spell.name}}</td>
      <td>{{spell.level}}</td>
      <td>{{spell.school}}</td>
      <td>{{spell.classes.join(', ')}}</td>
      <td>{{displayComponents(spell.components)}}</td>
    </tr>
  </table>
</div>
