<h2>D&amp;D 5e Spells <small><a href="./#help" id="title" class="btn btn-primary">Help</a></small></h2>
<div>
  <br />
  <input [(ngModel)]="filters.name" (input)="scrollForEvent()" placeholder="Search" class="form-control" />
  <br />
  <div class="form-group">
    <label for="schoolInput">School</label>
    <select [(ngModel)]="filters.school" (input)="scrollForEvent()" id="schoolInput" class="form-control">
      <option label=" "></option>
      <option>Abjuration</option>
      <option>Conjuration</option>
      <option>Divination</option>
      <option>Enchantment</option>
      <option>Evocation</option>
      <option>Illusion</option>
      <option>Necromancy</option>
      <option>Transmutation</option>
    </select>
  </div>
  <br />
  <table class="table">
    <tr>
      <th>Bard</th>
      <th>Cleric</th>
      <th>Druid</th>
      <th>Paladin</th>
      <th>Ranger</th>
      <th>Sorcerer</th>
      <th>Warlock</th>
      <th>Wizard</th>
    </tr>
    <tr>
      <td><input [(ngModel)]="bard" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="cleric" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="druid" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="paladin" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="ranger" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="sorcerer" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="warlock" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="wizard" (click)="scrollForEvent()" type="checkbox" /></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <th>V</th>
      <th>S</th>
      <th>M</th>
      <th>GP</th>
    </tr>
    <tr>
      <td><input [(ngModel)]="verbal" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="somatic" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="material" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="gold" (click)="scrollForEvent()" type="checkbox" /></td>
    </tr>
  </table>
  <table class="table">
    <tr>
      <th></th>
      <th>Ritual</th>
      <th>Concentration<th>
    </tr>
    <tr>
      <td>Show Only</td>
      <td><input [(ngModel)]="showRitual" [disabled]="hideRitual" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="showConcentration" [disabled]="hideConcentration" (click)="scrollForEvent()" type="checkbox" /></td>
    </tr>
    <tr>
      <td>Don't Show</td>
      <td><input [(ngModel)]="hideRitual" [disabled]="showRitual" (click)="scrollForEvent()" type="checkbox" /></td>
      <td><input [(ngModel)]="hideConcentration" [disabled]="showConcentration" (click)="scrollForEvent()" type="checkbox" /></td>
    </tr>
  </table>
  <button (click)="resetFilters()" class="btn btn-info">Reset Filters</button>
</div>
<br />
<div>
  <table class="table table-bordered table-hover">
    <tr>
      <th (click)="pushComparator('name')">Name</th>
      <th (click)="pushComparator('level')">Level</th>
      <th (click)="pushComparator('school')">School</th>
      <th>Classes</th>
      <th title="Components">Comp.</th>
      <th title="Ritual">Rit.</th>
      <th title="Concentration">Con.</th>
    </tr>
    <tr *ngFor="let spell of getSpellsForDisplay()" (click)="handleClick(spell)">
      <td>{{spell.name}}</td>
      <td>{{spell.level}}</td>
      <td>{{spell.school}}</td>
      <td>{{spell.classes.join(', ')}}</td>
      <td>{{displayComponents(spell.components)}}</td>
      <td align="center"><span *ngIf="spell.ritual" class="checkmark">✓</span></td>
      <td align="center"><span *ngIf="spell.concentration" class="checkmark">✓</span></td>
    </tr>
  </table>
</div>
<hr />
<div id="help">
  <h2>How to Use <small><a href="./#title" class="btn btn-primary">Back to Top</a></small></h2>
  <ul>
    <li>Type in the search box to find a specific spell</li>
    <li>Click the top of a column to sort by that column</li>
    <li>Click on a spell to view details about it</li>
  </ul>
</div>
