<div *ngIf="spell">
  <h2>{{spell.name}}</h2>
  <br />
  <p><em>{{formatLevel(spell)}} - {{spell.classes.join(', ')}} spell</em></p>
  <table class="table">
    <tr>
      <td>Casting Time</td>
      <td>{{spell.castingTime}}</td>
    </tr>
    <tr>
      <td>Range</td>
      <td>{{spell.range}}</td>
    </tr>
    <tr>
      <td>Components</td>
      <td>{{spell.components.join(', ')}}</td>
    </tr>
    <tr>
      <td>Duration</td>
      <td>{{spell.duration}}</td>
    </tr>
  </table>
  <p class="whitespace">{{spell.description}}</p>
</div>
