/* You can add global styles to this file, and also import other style files */
.spell-view {
  padding: 25px;
}
.whitespace {
  white-space: pre-wrap;
}
.main-container {
  margin-left: 15%;
  margin-right: 10%;
}
