/* You can add global styles to this file, and also import other style files */
body {
  font-family: Lato;
}
#spell-view {
  padding: 25px;
  overflow-y: auto;
  position: fixed;
}
.whitespace {
  white-space: pre-wrap;
  padding: 10px;
}
.main-container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5%;
}
.footer {
  font-size: 14px;
}
.checkmark {
  color: #00CC00;
  font-size: 24px;
}
